<div class="producto-detalle-dialog" *ngIf="producto">
  <div class="producto-detalle-card">
    <button type="button" class="close-btn" (click)="close()">
      ✕
    </button>

    <div class="producto-detalle-left">
      <div class="producto-detalle-marca" *ngIf="producto.categoria?.nombreCategoria">
        <span class="producto-detalle-marca-badge">
          {{ producto.categoria.nombreCategoria }}
        </span>
      </div>

      <div class="producto-detalle-imagen-principal">
        <button
          type="button"
          class="img-nav img-nav-prev"
          (click)="prevImagen()"
          *ngIf="producto.imagenes?.length > 1"
        >
          ‹
        </button>

        <img
          *ngIf="imagenSeleccionada"
          [src]="imagenSeleccionada"
          [alt]="producto.nombre"
        />

        <button
          type="button"
          class="img-nav img-nav-next"
          (click)="nextImagen()"
          *ngIf="producto.imagenes?.length > 1"
        >
          ›
        </button>
      </div>

      <div *ngIf="producto.imagenes?.length > 1">
        <div class="producto-detalle-thumbs">
          <button
            type="button"
            class="thumb-btn"
            *ngFor="let img of producto.imagenes; index as i"
            [class.activa]="i === selectedImagenIndex"
            (click)="selectImagen(i)"
          >
            <img [src]="img.urlImagen" [alt]="producto.nombre + ' ' + (i + 1)" />
          </button>
        </div>
        <div class="producto-detalle-dots">
          <button
            type="button"
            class="dot"
            *ngFor="let img of producto.imagenes; index as i"
            [class.activa]="i === selectedImagenIndex"
            (click)="selectImagen(i)"
          ></button>
        </div>
      </div>
    </div>

    <div class="producto-detalle-right">
      <div class="producto-detalle-header">
        <h1 class="producto-detalle-nombre">
          {{ producto.nombre }}
        </h1>
        <p
          class="producto-detalle-dimensiones"
          *ngIf="producto.dimensiones"
        >
          {{ producto.dimensiones }}
        </p>
      </div>

      <p
        class="producto-detalle-descripcion"
        *ngIf="producto.descripcion"
      >
        {{ producto.descripcion }}
      </p>

      <div class="producto-detalle-precio">
        <span class="precio-label">Desde</span>
        <span class="precio-valor">{{ producto.precio | currency }}</span>
      </div>

      <div
        class="producto-detalle-colores"
        *ngIf="producto.colores?.length"
      >
        <span class="colores-label">Colores disponibles</span>
        <div class="colores-lista">
          <span
            *ngFor="let color of producto.colores"
            class="color-box"
            [style.backgroundColor]="color.codigoColor"
            [title]="color.nombreColor"
          ></span>
        </div>
      </div>

      <div class="producto-detalle-acciones">
        <button mat-raised-button color="primary" (click)="cotizar()">
          Cotizar este producto
        </button>
      </div>
    </div>
  </div>
</div>
