<mat-toolbar class="navbar">
  <div class="brand" (click)="toggleMenu()">
    <button mat-icon-button class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand-title">OkBranding Admin</span>
  </div>
  <span class="spacer"></span>
  <div class="navbar-actions">
    <button mat-icon-button class="action-icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-stroked-button class="logout-button" (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>
  </div>
</mat-toolbar>
