<header class="client-header">
  <div class="brand-block" (click)="goToHome()">
    <img src="assets/img/logo.png" alt="Logo Okbranding" class="logo" />
    <div class="brand-copy">
      <span>Okbranding</span>
      <small>Publicidad & experiencias</small>
    </div>
  </div>

  <nav class="nav-links">
    <button type="button" (click)="scrollToSection('nosotros')">Nosotros</button>
    <button type="button" (click)="scrollToSection('categorias')">Categorías</button>
    <button type="button" (click)="scrollToSection('contacto')">Contáctanos</button>
  </nav>

  <div class="header-buttons">
    <ng-container *ngIf="!isLoggedIn; else loggedInButtons">
      <button class="btn-ghost" type="button" (click)="goToLogin()">Ingresar</button>
      <button class="btn-primary" type="button" (click)="goToRegister()">REGISTRARSE</button>
    </ng-container>

    <ng-template #loggedInButtons>
      <button class="btn-outline quote-button" type="button" (click)="goToMisCotizaciones()">
        <mat-icon
          [matBadge]="cotizacionCount"
          [matBadgeHidden]="cotizacionCount === 0"
          matBadgeColor="accent"
        >
          description
        </mat-icon>
        <span>Mis cotizaciones</span>
      </button>

      <button class="btn-primary" type="button" (click)="logout()">Cerrar sesión</button>
    </ng-template>
  </div>
</header>
